*.html
/autom4te.cache
/stamp-h1
Makefile
/config.status
/config.log
/config.h
/aclocal.m4
Makefile.in
/config/
/config.h.in
/configure
*~
/build*/
m4
GIT_REVISION
SVN_REVISION
libtool
*.o
*.la
*.so*
*.a
.deps
*.tar*
*.zip
*.lo
*.gcno
*.gcda
app.info
coverage_report
depcomp
install-sh
missing
serendipite
run.sh
external/libspotify-12.1.51-Linux-x86_64-release/
external/spotify/
lastfmreleases
meh
spotifycreateplaylist
tmp/

